body {
  font-family: "Times New Roman", Times, serif;
  background-color: antiquewhite;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 40px 50px;
  font-size: 80px;
  color: black;
}

.filters {
  margin-bottom: 40px;
}

.filters button:hover {
  background-color: grey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  width: 250px;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.card-price {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.add-btn {
  background-color: #eace60;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.add-btn:hover {
  background-color: #ef9e25;
}

.cart-total {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin: 20px;
}

.cart-total ol {
  padding-left: 20px;
  margin-top: 10px;
}

.cart-total li {
  padding: 4px 0;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  color: rgb(59, 58, 58)
}

