body {
  font-family: "Times New Roman", Times, serif;
  background-color: antiquewhite;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 40px 50px;
  font-size: 80px;
  color: black;
}

h3 {
  text-align: center;
  font-size: 50px;
}

.filter button {
  margin-bottom: 50px;
}

.filter button:hover {
  background-color: lightgray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  width: 250px;
  text-align: center;
}

.card:hover {
  background-color: #f8f6f6;
}

.card-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.card-price {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.button {
  background-color: #eace60;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #ef9e25;
}

.cart {
  margin-top: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.cart-total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
